svg {
    stroke-linecap: round;
}

.boat {
    fill: whitesmoke;
    stroke: silver;
    stroke-width: 2;
}

.wake {
    stroke: blue;
    stroke-width: 2;
    fill: none;
}

.damage {
    stroke: none;
    fill: red;
}

.boundary {
    stroke: none;
}

.dock {
    fill: saddlebrown;
}

.water {
    fill: lightblue;
}

.control {
    stroke: green;
    stroke-width: 2;
    fill-opacity: 0.5;
    fill: green;
}

.active {
    fill-opacity: 0.7;
}

.guide {
    stroke: green;
    stroke-opacity: 0.2;
    stroke-width: 4px;
}

.marker {
    stroke: none;
    fill: green;
}

.control-input {
    stroke: none;
    fill: white;
    fill-opacity: 0.2;
}

.timer {
    font-family: Verdana;
    font-weight: bold;
    fill: white;
    opacity: 0.5;
    font-size: 24px;
    text-anchor: end;
}
